{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
        <h1> {{ place.description }}</h1>
        <ul>
            {% for function in functions %}
                <li>
                    <a href="{{ path(function.functionid.function, {'placeId' : place.id }) }}"  class="btn btn-primary">{{ function.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ path('player_homepage') }}" class="btn btn-primary">Retour</a>
</div>

{% endblock %}