{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
    <h1> {{ summonTitle }} <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a></h1>
    {% if summons == null %}
        {{ noMoney }}
    {% else %}
    <ul>
        {% for summon in summons %}
            <li>
                {{ summon.name }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endblock %}