{% extends 'default/stats.html.twig' %}

{% block ChosenListItem %}
    <div class="col-lg-6">
        <h1>Liste des Objets du personnage</h1>
        <ul>
            {% for item in chosen %}
                {{ item.name }}
                <a href="{{ path('admin_follower_del_item', {'id' : item.id}) }}" class="btn btn-primary">Retirer</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}