{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Création nouvelle quête</h1>
            {{ form(form)}}

        </div>
    </div>
{% endblock %}