{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <h1> {{ place.description }}</h1>
        <ul>
            {% for function in functions %}
                <li>
                    <a href="{{ path(function.functionid.function, {'level': place.level, 'placeType': place.type}) }}">{{ function.name }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}