{% extends 'default/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
    <h1>Listes des {{ function }}</h1>
    <ul>
        {% for quest in quests %}
            <li>Chapitre {{ quest.difficulty }} : {{ quest.title }} {% block done %}{{ render(controller(
                'AppBundle\\Controller\\PlaceController::questsDone', {'id' : quest.id})) }}{% endblock %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}