{% block rightbar %}
<div id="stats" class="col-lg-2">
    <table class="table text-center">
        <tr>
            <td>Gloire {{ character.glory }} </td>
        </tr>
        <tr>
            <td>Loi {{ balance }} Chaos</td>
        </tr>
        <tr>
            <td>Bien {{ goodness }} Mal</td>
        </tr>
    </table>
</div>
{% endblock %}