{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <div class="row">
            <h1>{{ info.title }}</h1>
            <p>{{ info.infos }}</p>
        </div>
        <a href="{{ path('info', {'placeId' : placeId}) }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}