{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <div class="row">
            <h1>{{ info.title }}</h1>
            <p>{{ info.infos }}</p>
        </div>
    {% if placeId  %}
        <a href="{{ path('info', {'placeId' : placeId}) }}" class="btn btn-primary">Retour</a>
    {% else %}
        <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a>
    {% endif %}
</div>
{% endblock %}