{% extends 'base.html.twig' %}

{% block main %}

    yes !! {{ character.name }} est né(e) !! Il se trouve à {{ map.mapName }}

    <a href="{{ path('player_homepage') }}" class="btn btn-primary">Se Connecter</a>

{% endblock %}