{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1> {{ summonTitle }} </h1>
            {% if amountMoney == 0 %}
                {{ noMoney }}
            {% else %}
            <ul>
                {% for summon in summons %}
                    <li>
                        {{ summon.name }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>

{% endblock %}