{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1> {{ summonTitle }} </h1>
            <ul>
                {% for summon in summons %}
                    <li>
                        {{ summon.name }}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}