{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>Liste des Suivants</h1>
            <table class="table">
                <tr>
                    <th>Nom du suivant</th>

                    {% for follower in followers %}
                <tr>

                    {% if follower.mate.teamed == 0 %}
                        {% if follower.avalaible == true %}
                            <td><a href ="{{ path("options_team_add", {"place": place, "followerId": follower.mate.followerId.id, "teamMateId" : follower.mate.id}) }}" > {{ follower.mate.followerId.name }}</a></td>
                        {% else %}
                            <td><a href="{{ path('stats_follower', {'id' : follower.mate.id}) }}" style="color:red;">{{ follower.mate.followerId.name }}</a></td>
                        {% endif %}
                    {% endif %}

                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="row">
        <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a>
    </div>
</div>
{% endblock %}
