{% extends 'base.html.twig' %}

{% block main %}
<div class="container">
    
    	<h1>Création d'une nouvelle Zone</h1>
    		
	    {{ form_start(form) }}
	    {{ form_widget(form) }}
	    {{ form_end(form) }}

    </div>
</div>
{% endblock %}