{% extends admin ? 'base.html.twig' : 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
        <div class="row">
            <h1>{{ info.title }}</h1>
            {{ info.infos|raw }}
        </div>
    {% if placeId  %}
        <a href="{{ path('info', {'placeId' : placeId}) }}" class="btn btn-primary">Retour</a>
    {% else %}
        <a href="{{ path('admin_places_list') }}" class="btn btn-primary">Retour</a>
    {% endif %}
</div>
{% endblock %}