{% extends 'base.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
        <div class="row">
            <h1>{{ trigger.title }}</h1>
            {% if admin == false %}
                {{ trigger.infos|raw }}
            {% else %}
                {{ trigger.infos }}
            {% endif %}
        </div>
</div>
{% endblock %}