{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
	<h1>Options <a href="{{ path('player_homepage') }}" class="btn btn-primary">Retour</a></h1>
	<ul>
		<li><a href="{{ path('options_followers_list') }}" class="btn btn-primary">Bibilothèque de personnages</a></li>
		<li><a href="{{ path('options_delete_count') }}"  class="btn btn-danger">Suppression du compte</a></li>
	</ul>
</div>
{% endblock %}